<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.jpg">
    <title>About the page</title>
</head>
<body>
    <div class="main-content">
        {{>headers}}
        <p>It was created by me(Himiko/Pavithra) to practice Node js and I have used MapBox and weatherstack API's</p>
        <img class="portrait" src="/img/robot.jpg">
        </div>
    {{>footer}}
</body>
</html>