<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.jpg">
    <title>About the page</title>
</head>
<body>
    <div class="main-content">
        {{>headers}}
        <img class="portrait" src="/img/robot.jpg">
        </div>
    {{>footer}}
</body>
</html>